:root {
    --blue-primary: #C6E0F6;
    --blue-dark: #5885AB;
    --blue-btn: #A0C4E1;
    --blue-dark-24: rgba(88, 133, 171, 0.24);
    --blue-dark-70: rgba(88, 133, 171, 0.7);

    --purple-primary: #D7CEFF;
    --purple-dark: #746A9D;
    --purple-btn: rgba(117, 111, 144, 0.24);
    --purple-dark-24: rgba(116, 106, 157, 0.24);
    --purple-dark-70: rgba(116, 106, 157, 0.7);

    --red-primary: #F6C6C6;
    --red-dark: #A56969;
    --red-btn: #E19F9F;
    --red-dark-24: rgba(165, 105, 105, 0.24);
    --red-dark-70: rgba(165, 105, 105, 0.7);
}

html, body, .container {
    height: 100%;
    width: 100%; 
    max-height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--blue-primary);
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: var(--blue-dark);
    animation-name: bgColor;
}

body,
.container::after,
button,
input,
input::placeholder,
footer i,
hr,
.content > p {
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

.container {
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.container::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-repeat: repeat;
    background-position: center;
    background-size: 200%;
    background-image: url('../images/background.png');
    z-index: 1;
    opacity: 0.35;
    top: 0;
    animation-name: bgPosition;
}

h1 {
    margin: 0;
    text-transform: uppercase;
    font-family: 'Fjalla One';
    font-style: normal;
    font-weight: 400;
    font-size: 4rem;
    margin-top: 45px;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 650px;
    text-align: center;
    position: relative;
    z-index: 3;
}

.content > h3 {
    font-size: 1.75rem;
    margin: 0 0 15px 0;
}

.content > p {
    margin: 30px 0;
    width: 450px;
    font-weight: 400;
    animation-name: colorTransition;
}

.content > .input-group {
    width: 450px;
}

hr {
    border-color: var(--blue-dark);
    width: 100%;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    animation-name: inputTransition;
}

.input-group {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input, button {
    width: 100%;
    font: inherit;
    border-radius: 0.5rem;
    font-size: 1rem;
    box-sizing:border-box;
    webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

input {
    /* background-color: var(--blue-dark-24);
    border: 2px solid var(--blue-dark-70);
    outline: var(--blue-dark-70); */
    border: none;
    padding: 15px 10px;
    animation-name: inputTransition;
}

input::placeholder {
    color: inherit;
    opacity: 0.5 ;
    animation-name: colorTransition;
}

.input-box {
    position: relative;
}

.input-box > i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    font-size: 1.25rem;
    opacity: 0.5;
}

button {
    text-transform: uppercase;
    border: none;
    padding: 15px 0;
    border-radius: 0.5rem;
    border-bottom: 4px solid var(--blue-dark);
    background-color: var(--blue-btn);
    cursor: pointer;
    position: relative;
    animation-name: btnTransition;
}

button:hover,
button:focus,
button:active {
    
}

footer {
    margin-bottom: 45px;
    font-size: 1.6rem;
    color: var(--blue-dark);
    position: relative;
    z-index: 5;
}

footer > a {
    text-decoration: none;
    margin: 0 5px;
    opacity: 0.8;
    transition: opacity 0.25s ease-in-out;
}

footer i {
    transition: transform 0.25s ease-in-out;
    animation-name: colorTransition;
}

footer > a:hover > i {
    transform: scale(1.15) rotateZ(360deg);
}

footer > a:hover {
    opacity: 1;
}

@keyframes bgColor {
    0% {
        background-color: var(--purple-primary);
        color: var(--purple-dark);
    }
    33% {
        background-color: var(--blue-primary);
        color: var(--blue-dark);
    }
    66% {
        background-color: var(--red-primary);
        color: var(--red-dark);
    }
    100% {
        background-color: var(--purple-primary);
        color: var(--purple-dark);
    }
}

@keyframes bgPosition {
    0% {
        /* background-position: 0% 0%; */
        transform: scale(1);
    }
    33% {
        /* background-position: 33% 33%; */
        transform: scale(1.5);
    }
    66% {
        /* background-position: 66% 66%; */
        transform: scale(2);
    }
    100% {
        /* background-position: 100% 100%; */
        transform: scale(1)
    }
}

@keyframes btnTransition {
    0% {
        border-bottom: 4px solid var(--purple-dark);
        background-color: var(--purple-btn);
        color: var(--purple-dark);
    }
    33% {
        border-bottom: 4px solid var(--blue-dark);
        background-color: var(--blue-btn);
        color: var(--blue-dark);
    }
    66% {
        border-bottom: 4px solid var(--red-dark);
        background-color: var(--red-btn);
        color: var(--red-dark);
    }
    100% {
        border-bottom: 4px solid var(--purple-dark);
        background-color: var(--purple-btn);
        color: var(--purple-dark);
    }
}

@keyframes inputTransition {
    0% {
        background-color: var(--purple-dark-24);
        border: 2px solid var(--purple-dark-70);
        outline: var(--purple-dark-70);
        color: var(--purple-dark);
    }
    33% {
        background-color: var(--blue-dark-24);
        border: 2px solid var(--blue-dark-70);
        outline: var(--blue-dark-70);
        color: var(--blue-dark);
    }
    66% {
        background-color: var(--red-dark-24);
        border: 2px solid var(--red-dark-70);
        outline: var(--red-dark-70);
        color: var(--red-dark);
    }
    100% {
        background-color: var(--purple-dark-24);
        border: 2px solid var(--purple-dark-70);
        outline: var(--purple-dark-70);
        color: var(--purple-dark);
    }
}

@keyframes colorTransition {
    0% {
        color: var(--purple-dark);
    }
    33% {
        color: var(--blue-dark);
    }
    66% {
        color: var(--red-dark);
    }
    100% {
        color: var(--purple-dark);
    }
}